################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/testBDO/v15
/testBDO/obj/Debug
/.vs/launcherBDO/v15/Server/sqlite3
/testBDO/bin/Debug
/.vs/launcherBDO/v15
/testBDO/bin/x64/Debug
/testBDO/obj/x64/Debug
